<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mercado Liebre</title>

    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
    rel="stylesheet" />
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="icon" href="images/icons8-mercado-pago.svg">
    <script src="https://kit.fontawesome.com/7ee373755c.js" crossorigin="anonymous"></script>
   
</head>
<body>

    <header class="header">
        <div class="header__navBar">
            <div class="logo">
            <img src="/images/logo-mercado-liebre.svg" alt="Logo mercado libre" >
            </div>
            <div class="search">  
                <input type="text" placeholder="Buscar productos, marcas">
                <i class="fa fa-search"></i>
            </div>
            
            <h3 class="header__text">
                <i class="fas fa-hand-holding-usd"></i> 
                Compra en cuotas y sin tarjeta de credito
            </h3>
        </div>

        <div class="burger-menu">
            <i class="fas fa-bars"></i>
        </div>

       <nav class="nav_butom">
        <ul class="nav__butom-izq">
            <li> <a href="#">Ofertas</a> </li>
            <li> <a href="#">Tiendas Oficiales</a> </li>
            <li> <a href="#">Vender</a> </li>
            <li> <a href="#">Ayuda</a> </li>
        </ul>
        <ul class="nav__butom-der">
            <li> <a href="register">Crea tu cuenta</a> <i class="fas fa-address-card"></i> </li>
            <li> <a href="login">Ingresa</a> <i class="fas fa-sign-in-alt"></i></li>
            <li> <a href="#">Mis compras</a> <i class="fas fa-cart-arrow-down"></i> </li>
            
        </ul>
        </nav>
      
    </header>
    <section class="banner">
        <img src="images/img-home-banner.jpg" alt="Banner de ofertas">
    </section>

    <!-- <main class="main"> -->

    <main>
        <section class="section">
            <h3 class="titulares"> Basado en tu ultima visita  </h3>
                <div class="section__product">
                    <article>
                        <img src="/images/img-cafetera-moulinex.jpg" alt="Imagen de la cafetera" class="product_img"  >
                            <div class="article">
                                <i class="fas fa-truck"></i>
                                <p class="precio">$6.770</p>
                                <p class="descuentos">40% off</p>
                                <h4><b class="descripciones">Cafetera Moulinex</b></h4>               
                            </div>
                    </article>

                    <article>
                        <img src="/images/img-macbook-pro-2019.jpg" alt="Imagen de la MacBook"  class="product_img">
                            <div class="article">
                                <i class="fas fa-truck"></i>
                                <p class="precio">$230.000</p>
                                <p class="descuentos">20% off</p>             
                                <h4><b class="descripciones">MacBook Pro 2019</b></h4>
                            </div>
                    </article>
 
                    <article>
                        <img src="/images/img-samsung-galaxy-s10.jpg" alt="Imagen de la MacBook"  class="product_img">
                            <div class="article">
                                <i class="fas fa-truck"></i>
                                <p class="precio">$70.700</p>
                                <p class="descuentos">10% off</p>
                                <h4><b class="descripciones">Sansung Galaxy S10</b></h4>
                            </div>
                    </article>

                    <article>
                        <img src="/images/img-tv-samsung-smart.jpg" alt="Imagen de la MacBook"  class="product_img">
                            <div class="article">
                                <i class="fas fa-truck"></i>
                                <p class="precio">$23.200</p>
                                <p class="descuentos">5% off</p> 
                                <h4><b class="descripciones">SmartTv Sansung 43"</b></h4>
                            </div>
                    </article>
                </div>
        </section>
        <section class="section">
            <h3 class="titulares"> Oferta  </h3>
                <div class="section__product">
                    <article>
                        <img src="/images/img-cafetera-moulinex.jpg" alt="Imagen de la cafetera" class="product_img"  >
                            <div class="article">
                                <i class="fas fa-truck"></i>
                                <p class="precio">$6.770</p>
                                <p class="descuentos">40% off</p>
                                <h4><b class="descripciones">Cafetera Moulinex</b></h4>               
                            </div>
                    </article>

                    <article>
                        <img src="/images/img-macbook-pro-2019.jpg" alt="Imagen de la MacBook"  class="product_img">
                            <div class="article">
                                <i class="fas fa-truck"></i>
                                <p class="precio">$230.000</p>
                                <p class="descuentos">20% Off</p>             
                                <h4><b class="descripciones">MacBook Pro 2019</b></h4>
                            </div>
                    </article>
 
                    <article>
                        <img src="/images/img-samsung-galaxy-s10.jpg" alt="Imagen de la MacBook"  class="product_img">
                            <div class="article">
                                <i class="fas fa-truck"></i>
                                <p class="precio">$70.700</p>
                                <p class="descuentos">10% off</p>
                                <h4><b class="descripciones">Sansung Galaxy S10</b></h4>
                            </div>
                    </article>

                    <article>
                        <img src="/images/img-tv-samsung-smart.jpg" alt="Imagen de la MacBook"  class="product_img">
                            <div class="article">
                                <i class="fas fa-truck"></i>
                                <p class="precio">$23.200</p>
                                <p class="descuentos">5% off</p> 
                                <h4><b class="descripciones">SmartTv Sansung 43"</b></h4>
                            </div>
                    </article>
                </div>
        </section>


    </main>

    <footer class="pie-pagina">

        <section class="footer_card">
             <article>
                <i class="fas fa-credit-card"></i>
                <h4>Paga con tarjeta o en efectivo</h4>
                 <p>Con Mercado Liebre Cash , tenes cuotas sin interes con tarjeta o efectivo en puntos de pago, ¡Y siempre es seguro!</p>  
             </article>
            
             <article>
                <i class="fas fa-gift"></i>
                <h4>Envio gratis desde $2.500</h4>
                 <p>Solo por estar registrad@ en Mercado Liebre tenes envios gratis en miles de productos. Es un beneficio de Mercado Puntos.</p> 
             </article>

            <article>
                <i class="fas fa-user-shield"></i>
            <h4>Seguridad, de principio a fin</h4>
              <p>¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer, porque estas siempre protegido</p>  
            </article>

            
            
        </section>
        <div class="copyrigth">
            <P>
                Copyrigth © 1999 - 2020 MercadoLiebre S.R.L.
           </P>
        </div>
        
    </footer>


 
</body>
</html>